li {
  padding: 5px;
  margin: 5px;
  background: #bcc6fd;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

body {
  background-color: rgb(97, 176, 228);
  font-family: 'Lato', sans-serif;
}

pre {
  background-color: #77F290;
  font-size: 1.5em;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

img {
  width: 50%;
}

.form-control[readonly] {
  color: black;
  margin: 5px;
  border: 20px;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
}
