li {
  padding: 5px;
  margin: 5px;
  background: #bcc6fd;
}

.label {
  font-weight: bold;
}

.btn-default {
  background-color: black;
  color: white;
}
.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

body {
  background-color: rgb(93, 135, 226);
  font-family: 'Lato', sans-serif;
}

pre {
  background-color: rgb(133, 195, 231);
  font-size: 1.5em;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

/* .cupcakeImg { }  formatting for image, if needed*/



.form-control[readonly] {
  color: black;
  margin: 5px;
  border: 20px;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
}
